.video_background{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}
.intro{
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
    padding-top:298px;
    position: relative;
    z-index: 2;
}
.intro_paragraph{
    text-align: center;
}
.three_buttons_wrapper{
    margin-left: auto;
    margin-right: auto;
    max-width: 42rem;
    display: flex;
    flex-direction: row;

}
.three_buttons_wrapper div{
    flex:0 0 32%;
    height:44px;
    line-height: 44px;
}

.three_buttons_wrapper div+div{
    margin-left: 2%;
}
.product_cards{
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.product_card{
    position:relative;
    cursor: pointer;
    border: 1px solid #78b2e8;
    padding: 12px;
    flex-grow: 1;
    background:#2e77bbee;
    text-align: left;
    box-shadow: 0 1px 3px rgba(120,178,232,0.12), 0 1px 2px rgba(120,178,232,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.product_card:hover{
    box-shadow: 0 14px 28px rgba(120,178,232,0.25), 0 11px 11px rgba(120,178,232,0.22);
}
.product_card > h2{
    margin-top: 0;
}
.product_card + .product_card{
    margin-left: 2%;
}
.product_card_icon{
    position:absolute;
    top:2%;
    right:2%;

}
.product_card_software{
    position:absolute;
    bottom:2%;
    right:2%;
}


/*home post main css*/
.home_post_main_wrapper{
    margin-top: 80px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background:#12263a;
}
.home_post_main_content{
    flex: 0 0 50%;
    padding:20px;
    margin-bottom: 2%;
}
.home_post_main_content_inner{
    display: flex;
    flex-direction: row;
    width: 100%;
    height:100%;
    position: relative;

}
.home_post_main_content_icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex:0 0 12%;
    position: relative;

}
.home_post_main_content_text{
    flex:0 0 88%;

}
.home_post_main_content_icon_image{
    flex: 0 0 32%;
    margin: 0 auto;
    position: relative;
}
.home_post_main_content_icon_image > div{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
 }
.line{
    flex: 0 0 32%;
    width:1px;
    background: #ffffff88;
    margin: 0 auto;
}
