

.input{
--width:18rem;
    width:var(--width);
    border: none;
    appearance: none;
    background-color: var(--clr-neutral-50);
    padding: 12px;
    border-radius: 9px;
    outline: none;
    position:relative



}
.required::before{
    font-size:20px;
    content: "*";
    position:absolute;
    right:-0.5em;
    top:-0.5em;
    color:#D92B3A;
}
.input::selection{
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-50);
}


.input_wrapper{
    position: relative;
    font-size: 14px;
    width: var(--width);

}
.placeholder{
    position: absolute;
    font-size: 14px;
    top:50%;
    transform: translateY(-50%);
    color: #19191988;
    transition: 0.3s ease;
}
/*

.input:focus + .placeholder, .input:valid + .placeholder{
    top:11px;
    font-size: 11px;
    color: #191919;

}
*/



.input_wrapper.one .input{
    border: 1px solid #19191955;
    padding: 15px 8px;
    padding-top:20px;
    padding-bottom:5px;
    transition: 0.3s ease;

}
.input_wrapper.two .input{
    background: none;
    border: 1px solid #D92B3A;
    padding: 15px 8px;
    transition: 0.3s ease;

}
.input_wrapper.one input:valid,
.input_wrapper.one input:focus{
    border-color:#35C9F2;
    transition-delay: 0.01s;

}
.input_wrapper.two input:valid,
.input_wrapper.two input:focus{
    border-color:#D92B3A;
    transition-delay: 0.01s;

}

.input_wrapper.one input:valid{
    border-color:#19191988;
}
.input_wrapper.two input:valid{
     border-color:#D92B3A;
 }

.input_wrapper.one input:valid + .placeholder,
.input_wrapper.one input:focus + .placeholder{
    font-size: 12px;
    top:25%;
    color: #35C9F2;

}

.input_wrapper.two input:valid + .placeholder,
.input_wrapper.two input:focus + .placeholder{
    font-size: 12px;
    top:20px;
    color: #D92B3A;

}

.input_wrapper.one .placeholder{
    padding:0 5px;
    left: 3px;
}


.input_wrapper.two .placeholder{
    padding:0 5px;
    left: 3px;
    color:#D92B3A;
}
