.main_wrapper{
    position:relative;
    width:100%;
    height:698px;


}
.video_background{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    object-fit: cover;
    z-index: 0;
}
.main_inner{
    position:relative;
    margin:0 auto;
    margin-bottom: 68px;
    text-align: center;
    overflow:hidden;
    z-index:1;
}
.title_icon_wrapper{
    display: flex;
    justify-content: center;
}
.caption_wrapper{

}
.free_trial_wrapper{

}
.big_title{
    font-size: 48px;
    font-weight: 900;
    padding-left: 1%;

}
.caption{
    font-size: 36px;
    margin:0 auto;

}

.free_trial{
    height: 50px;
    padding: 0 50px;
    border-radius: 18px;
    line-height: 50px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-family: inherit;
    font-size: 12px;
    font-weight: 700;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    color: #fff;
    background: #35C9F2ee;
    margin-bottom:15px !important;

}
.free_trial:hover{
background: #ffffff;
    color: #12263a;
}
.get_now{
    height: 50px;
    padding: 0 50px;
    border-radius: 18px;
    line-height: 50px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-family: inherit;
    font-size: 12px;
    font-weight: 700;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    color: #fff;
    background: #c7441fee;
    margin-bottom:80px;
    transition: 0.3s;

}
.background_letter{
    font-size: 900px;
    color:#ffffff;
    opacity:20%;
    position:absolute;
    user-select: none;
    z-index: 0;
}
.E{
    left:0;
    top:-80%;
}
.Z{
    left:15%;
    top:-60%;
}
.T{
    left:29%;
    top:-39%;
}


/*content css*/


.content_wrapper{
    margin-top: 80px;
    padding-top:80px;
    position: relative;
    width: 100%;

    background:#051624;


}
.content_inner{
    margin-left: auto;
    margin-right: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 22px;
    padding-right: 22px;
    max-width: 1276px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;

}
.content_inner_text{

   /*flex-basis: calc(8.3333%*4 - 16px*2);*/
    flex:0 0 80%;
    margin-bottom: 60px;

}
.content_inner_text h2{


}
.paragraph{
    text-align: center;
    margin-bottom: 58px;
    line-height: 25px;
}
.dc{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.dc_side{}
.dc_inner_main{
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 2%; /* (100-32*3)/2 */
    background:#072136;
    border-radius: 8px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}
.dc_inner{
    cursor:pointer;
    position: relative;
    overflow: hidden;
    width: 32%;
    padding-bottom: 18%; /* 32:18, i.e. 16:9 */
    margin-bottom: 2%; /* (100-32*3)/2 */
    background:#072136;
    border-radius: 8px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.dc_inner:hover{
    background: #0C375A;
    opacity:1 !important;
}
.dc_inner:hover h3{
    color: #0C375A;
}
.dc_inner_content{
    flex-direction: column-reverse;

}
.dc_inner h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100 !important;
}
.dc_background{
    position: absolute;
    left:20px;
    top:-20px;
    opacity: 0.11;
}
.dc_background > div{
    overflow: unset !important;
}
.dc_background img{
    transform: scale(2);
    filter: brightness(100);
}
.dc_background_main{
    position: absolute;
    left:20px;
    top:-20px;
    opacity: 0.11;
}
.dc_background_main > div{
    overflow: unset !important;
}
.dc_background_main img{
    transform: scale(3.5);
    filter: brightness(100);
}
.dc_left{
    position: relative;
    z-index: 2;
}
.dc_bottom{
    position: relative;
    z-index: 1;
}
.dc_top{
    position: relative;
    z-index: 3;
}


.image_wrapper{
    margin-left:calc(8.33333%*1 + 16px);
    /*flex-basis: calc(8.33333%*8 - 16px*2);*/
    flex:0 0 74%;
    box-sizing: border-box;
    position: relative;

}
.image_inner{



}
.boxes_info{
    position: relative;

}
.boxes_info_main{
    position: relative;
    display: flex;
    flex-direction: column;

}
.elem_main{
    justify-content: left;
    display: flex;
    flex-direction: row;
    padding-left:2%;
    padding-top:2%;
}
.elem_main_inner{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.elem_main_inner_section{
    flex:0 0 48%;
    margin-left:2%;

}
.center_elem{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 50%;
    left: 50%;
    transform: translateY(71%) translateX(-50%);
}
.center_elem_img{
    flex: 0 0 50%;
}
.center_elem_text{
    flex: 0 0 50%;
    margin:0;
    font-size: 1.3em;
    margin-left: 2%;
}
.center_elem_text_main{
    flex: 0 0 80%;
    margin:0;
    margin-left: 2%;
}
.center_elem_text_main h3{
    margin:0;
}


.dc_inner_vf{
    position: relative;
    overflow: hidden;
    width: 23%;
    padding-bottom: 7%; /* 32:18, i.e. 16:9 */
    margin-bottom: 2%; /* (100-25*4)/2 */
    border-radius: 8px;
    border: 1px solid #78b2e8;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.dc_inner_vf:hover{
    background: #78b2e8;
}
.dc_inner_vf:hover h3{
    color: #c7441f;
}
.dc_inner_res{
    position: relative;
    overflow: hidden;
    width:100%;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.dc_inner_content_res{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.center_elem_res{
    flex:0 0 32%;
    background:#78b2e8;


}
.boxes_info_res{
    width:100%;
    height:600px;
    position: relative;

}
.full_res{
text-align: center;
}
.res_ultra{
    z-index: 2;
    border-radius: 8px;
    border: 1px solid #ffffff88;
    -webkit-box-shadow: 5px -5px 14px -3px rgba(0,0,0,0.11);
    box-shadow: 5px -5px 14px -3px rgba(0,0,0,0.11);
    position: absolute;
    left:0;
    bottom:0;
    width:1232px;
    height:500px;
    background: #072136;
}
.res_full{
    z-index: 3;
    border-radius: 8px;
    border: 1px solid #ffffff88;
    -webkit-box-shadow: 5px -5px 14px -3px rgba(0,0,0,0.11);
    box-shadow: 5px -5px 14px -3px rgba(0,0,0,0.11);
    position: absolute;
    left:0;
    bottom:0;
    width:600px;
    height:260px;
    background: #072136;
}
.res_hd{
    z-index: 4;
    border-radius: 8px;
    border: 1px solid #ffffff88;
    -webkit-box-shadow: 5px -5px 14px -3px rgba(0,0,0,0.11);
    box-shadow: 5px -5px 14px -3px rgba(0,0,0,0.11);
    position: absolute;
    left:0;
    bottom:0;
    width:321px;
    height:140px;
    background: #072136;
}
.res_sd{
    z-index: 5;
    border-radius: 8px;
    border: 1px solid #ffffff88;
    -webkit-box-shadow: 5px -5px 14px -3px rgba(0,0,0,0.11);
    box-shadow: 5px -5px 14px -3px rgba(0,0,0,0.11);
    position: absolute;
    left:0;
    bottom:0;
    width:180px;
    height:98px;
    background: #072136;
}
.res_ultra:hover, .res_full:hover, .res_hd:hover, .res_sd:hover{
    background: #0C375A;
    cursor: pointer;
}
.res_inner{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.res_name{
    position: absolute;
    top:0%;
    right:1%;
    transform: translateY(-26%);
}
.res_name p{
    color:#ffffff;
    font-size: 1.6em;
}
.res_size_ultra{
    position: absolute;
    top:0;
    left:0;
    font-size: 247px;
    color:#ffffff33;
    line-height: 0;
}
.res_size_full{
    position: absolute;
    top:0;
    left:0;
    font-size: 120px;
    color:#ffffff33;
    line-height: 0;
}
.res_size_hd{
    position: absolute;
    top:0;
    left:0;
    font-size: 64px;
    color:#ffffff33;
    line-height: 0;
}
.res_size_sd{
    position: absolute;
    top:0;
    left:0;
    font-size: 36px;
    color:#ffffff33;
    line-height: 0;
}
.very_small{
    font-size: 18px;
}
.h1_res{
    margin: 0;
}
.dc_ratio{

}
.ratio{
    display: flex;
    flex-direction: column;
}
.ratio_row{
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.dc_inner_ratio_5_4{
    position: relative;
    overflow: hidden;
    flex:0 0 200px;
    padding-bottom: 160px; /* 32:18, i.e. 5:4 */
    border: 1px solid #78b2e8;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.dc_inner_ratio_4_3{
    position: relative;
    overflow: hidden;
    flex:0 0 213.33px;
    padding-bottom: 160px; /* 32:18, i.e. 5:4 */

    border: 1px solid #78b2e8;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.dc_inner_ratio_3_2{
    position: relative;
    overflow: hidden;
    flex:0 0 240px;
    padding-bottom: 160px; /* 32:18, i.e. 5:4 */
    border: 1px solid #78b2e8;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.dc_inner_ratio_16_10{
    position: relative;
    overflow: hidden;
    flex:0 0 256px;
    padding-bottom: 160px; /* 32:18, i.e. 5:4 */
    border: 1px solid #78b2e8;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.dc_inner_ratio_16_9{
    position: relative;
    overflow: hidden;
    flex:0 0 284.44px;
    padding-bottom: 160px; /* 32:18, i.e. 5:4 */
    border: 1px solid #78b2e8;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.dc_inner_ratio_185_100{
    position: relative;
    overflow: hidden;
    flex:0 0 296px;
    padding-bottom: 160px; /* 32:18, i.e. 5:4 */
    border: 1px solid #78b2e8;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.dc_inner_ratio_235_100{
    position: relative;
    overflow: hidden;
    flex:0 0 376px;
    padding-bottom: 160px; /* 32:18, i.e. 5:4 */
    border: 1px solid #78b2e8;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.dc_ratio_hover:hover{
    background: var(--main-color-hover);

}
.info_icon{
    opacity:0.6;

}
.center_elem_ratio{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}
.center_elem_ratio_wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
.center_elem_ratio_inner{
    width:100%;
    display:flex;
    justify-content: center;

}
.center_elem_ratio_inner div{
    padding:0 2px;

}
.file_format_tabs_wrapper{
    width:100%;
    text-align: center;
}
.file_format_tabs_wrapper > div{
    margin: auto;
}
.vertical_horizontal{
    display: flex;
    flex-direction: row;
}
.vertical_horizontal_inner{
    flex: 0 0 48%;
    text-align: left;
    margin-left: 2%;
}
.vertical_horizontal_inner p{
    font-weight: lighter;
}
.features_wrapper{

}
.feature{
    position: relative;
    display: flex;
    flex-direction: row;
    padding-bottom:230px;
}
.feature_title{
    padding-left: 35px;
    position: relative;
    line-height: 0;
    margin-bottom: 15px;
    max-width: 585px;
}
.feature_title::before{
    content: "";
    background: #4DC4EF;
    position: absolute;
    top: 50%;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transform: translateY(-50%);
}
.feature_text{
    flex: 0 0 30%;
    flex-direction: column;
    text-align: left;

}
.feature_image{
    position:absolute;
    right:0;
    top:0;
    transform: translate(30%, -25%);

}
.more_features_wrapper{
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    /* Your container needs a fixed height, and it
     * needs to be taller than your tallest column. */
    height: 3600px;

    /* Optional */
    counter-reset: items;

}

.m_feature{
    cursor:pointer;
    width: 32%;

    margin-bottom: 2%; /* (100-32*3)/2 */
    position: relative;
    border: solid 1px #78b2e8;
    border-radius: 20px;
    padding-top: 6%;
    padding-left: 1%;
    padding-right: 1%;

}
.m_feature:nth-child(3n+1) { order: 1; }
.m_feature:nth-child(3n+2) { order: 2; }
.m_feature:nth-child(3n)   { order: 3; }
.m_feature:hover{
  background:#c7441fee;

}
.m_feature_icon{


}
.m_feature_text_short{
    text-align: left;


}
.m_feature_text_short h3{
    color: #ffffffee !important;


}
.m_feature_text_short p{
    color: #ffffffcc !important;


}
.more_features_wrapper::before,
.more_features_wrapper::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
}
.license_wrapper{
    display: flex;
    flex-direction: row;

}
.license_option{
    flex: 0 0 32%;

    border: solid 1px #78b2e8;
    border-radius: 20px;
    padding: 18px;
}
.license_option + .license_option{
    margin-left: 2%;
}
.license_option:hover{
    background:#c7441fee;

}
.license_option:hover img{
    filter: brightness(100);

}
/* animations */

    /* card animation for CC */

        /* top */

.slide_in_blurred_top {
    -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 3800ms both;
    animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 3800ms both;
}



@-webkit-keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-200px) scaleY(1) scaleX(1);
        transform: translateY(-200px) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}
@keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-200px) scaleY(1) scaleX(1);
        transform: translateY(-200px) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

            /* right */


.slide_in_blurred_right {
    -webkit-animation: slide-in-blurred-right 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 3400ms both;
    animation: slide-in-blurred-right 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 3400ms both;
}


@-webkit-keyframes slide-in-blurred-right {
    0% {
        -webkit-transform: translateX(200px) scaleX(1) scaleY(1);
        transform: translateX(200px) scaleX(1) scaleY(1);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}
@keyframes slide-in-blurred-right {
    0% {
        -webkit-transform: translateX(200px) scaleX(1) scaleY(1);
        transform: translateX(200px) scaleX(1) scaleY(1);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

            /* left */

.slide_in_blurred_left {
    -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 3400ms both;
    animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 3400ms both;
}

.slide_in_blurred_left_2 {
    -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 4200ms both;
    animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 4200ms both;
}

.slide_in_blurred_left_3 {
    -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 4599ms both;
    animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 4599ms both;
}


@-webkit-keyframes slide-in-blurred-left {
    0% {
        -webkit-transform: translateX(-200px) scaleX(1) scaleY(1);
        transform: translateX(-200px) scaleX(1) scaleY(1);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}
@keyframes slide-in-blurred-left {
    0% {
        -webkit-transform: translateX(-200px) scaleX(1) scaleY(1);
        transform: translateX(-200px) scaleX(1) scaleY(1);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

            /* bottom */
.slide_in_blurred_bottom {
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 5000ms both;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 5000ms both;
}


@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(200px);
        transform: translateY(200px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(200px);
        transform: translateY(200px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}


    /* video formats */

.text_focus_in {
    -webkit-animation: text-focus-in 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2200ms both;
    animation: text-focus-in 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2200ms both;
}


@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

    /* res scale animation */

.scale_in_bl {
    -webkit-animation: scale-in-bl 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3000ms both;
    animation: scale-in-bl 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3000ms both;
}
.scale_in_bl_1 {
    -webkit-animation: scale-in-bl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3400ms both;
    animation: scale-in-bl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3400ms both;
}
.scale_in_bl_2 {
    -webkit-animation: scale-in-bl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3800ms both;
    animation: scale-in-bl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3800ms both;
}
.scale_in_bl_3 {
    -webkit-animation: scale-in-bl 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 4200ms both;
    animation: scale-in-bl 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 4200ms both;
}


@-webkit-keyframes scale-in-bl {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        opacity: 1;
    }
}
@keyframes scale-in-bl {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        opacity: 1;
    }
}

/* languages animation */


.tracking_in_expand {
    -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 3000ms both;
    animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 3000ms both;
}

.tracking_in_expand span{
    margin-left: 2%;
    cursor: pointer;
    color:#ffffffcc;
    transition: 0.3s;
    font-weight: lighter;

}
.tracking_in_expand span:hover{
    color:#ffffff;
    font-size: xx-large;
    text-shadow: 0px 0px 8px #ffffff22;


}
.tracking_in_expand .highlight{
    color:#4DC4EFcc;

}
.tracking_in_expand .highlight:hover{
    color:#35C9F2ee;
    font-size: xx-large;
    text-shadow: 0px 0px 8px #35C9F222;

}
/*old shit bettered*/
.subsection_title{
    font-size: 96px;
    line-height: 1.0416666667;
    font-weight: 600;
    letter-spacing: -0.015em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.subsection_description{
    position: relative;
    font-size: 28px;
    line-height: 1.1428571429;
    font-weight: 600;
    letter-spacing: .007em;
    font-synthesis: none;
    -moz-font-feature-settings: "kern";
    direction: ltr;
    text-align: left;
    color: #ffffff99;
}
.simple_text{
    color:#ffffff;
    font-size: 16px;
    line-height: 1.4211026316;
    font-weight: 400;
    letter-spacing: .005em;
}
.text_highlight{
    color:#ffffff;
}
.text_highlight_bold{
    color:#ffffff;
    font-weight: 600;
}
.link{
    color:#35C9F2;
    font-weight: 600;
    text-decoration: underline;
}
.video_format_wrapper{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 111px;
    grid-row-gap: 98px;
    margin: 0 auto;
}
.video_format_item{
    width:180px;
    height:98px;
    border-radius: 8px;
    border:1px solid #fefefe66;
    /*
    background-color:var(--main-color-light);

    */
    transition: 0.3s;
}
.video_format_item_title{
    position: relative;
    width:100%;
    height:100%;

}
.video_format_item_title_text{
    position:absolute;
    top:50%;
    left:50%;
    color:#ffffff;
    transform: translate(-50%, -50%);
    font-size: 28px;
    line-height: 1.14286;
    font-weight: 600;
    letter-spacing: .007em;

}


.resolution_main_wrapper{
    max-width: 1400px;
    position: relative;

}
.resolution_main_inner{
    position: relative;
    margin:0 auto;
    width: 1365px;
    height: 720px;
    position: relative;
    border-radius: 8px;
    border:1px solid #fefefe66;


}
.resolution_inner_title_4k{
    font-size: 270px;
    line-height: 1.1428571429;
    font-weight: 600;
    letter-spacing: .007em;
    font-synthesis: none;
    -moz-font-feature-settings: "kern";
    direction: ltr;
    text-align: left;
    color: var(--resolution-color-title);
}
.resolution_main_inner_2k{
    position: absolute;
    margin:0 auto;
    width: 853px;
    height: 480px;
    border-radius: 8px;
    left:50%;
    bottom:-40px;
    transform: translate(-50%, 0);
    border:1px solid #fefefe66;




}
.resolution_inner_title_2k{

    font-size: 168px;
    line-height: 1.1428571429;
    font-weight: 600;
    letter-spacing: .007em;
    font-synthesis: none;
    -moz-font-feature-settings: "kern";
    direction: ltr;
    text-align: left;
    color: var(--resolution-color-title);

}
.resolution_main_inner_fhd{
    position: absolute;
    margin:0 auto;
    width: 640px;
    height: 360px;
    border-radius: 8px;
    left:50%;
    bottom:-80px;
    transform: translate(-50%, 0);
    border:1px solid #fefefe66;




}
.resolution_inner_title_fhd{

    font-size: 127px;
    line-height: 1.1428571429;
    font-weight: 600;
    letter-spacing: .007em;
    font-synthesis: none;
    -moz-font-feature-settings: "kern";
    direction: ltr;
    text-align: left;
    color: var(--resolution-color-title);
}
.resolution_main_inner_hd{
    position: absolute;
    margin:0 auto;
    width: 427px;
    height: 240px;
    border-radius: 8px;
    left:50%;
    bottom:-120px;
    transform: translate(-50%, 0);
    border:1px solid #fefefe66;




}
.resolution_inner_title_hd{

    font-size: 95px;
    line-height: 1.1428571429;
    font-weight: 600;
    letter-spacing: .007em;
    font-synthesis: none;
    -moz-font-feature-settings: "kern";
    direction: ltr;
    text-align: left;
    color: var(--resolution-color-title);
}
.resolution_main_inner_sd{
    position: absolute;
    margin:0 auto;
    width: 213px;
    height: 160px;
    border-radius: 8px;
    left:50%;
    bottom:-160px;
    transform: translate(-50%, 0);
    border:1px solid #fefefe66;




}
.resolution_inner_title_sd{

    font-size: 53px;
    line-height: 1.1428571429;
    font-weight: 600;
    letter-spacing: .007em;
    font-synthesis: none;
    -moz-font-feature-settings: "kern";
    direction: ltr;
    text-align: left;
    color: var(--resolution-color-title);
}


.ratio_main_wrapper{
    width:100%;
    height:600px;
    text-align: center;
    position:relative;


}
.ratio_main_inner{
    margin:0 auto;
    height:300px;
    position:relative;


}
.ratio_box{
    border-right: 1px solid #fefefe66;
    margin: 0 auto;
    margin-left: 0;
    box-sizing: unset;


}
.ratio_main_2_35{
    border:1px solid #fefefe66;
    width:calc(var(--ratio-height)*2.85);
    height:var(--ratio-height);
}
.ratio_main_1_85{
    width:calc(var(--ratio-height)*1.85);
    height:var(--ratio-height);
}
.ratio_main_16_9{
    width:calc(var(--ratio-height)*1.77777);
    height:var(--ratio-height);
}
.ratio_main_16_10{
    width:calc(var(--ratio-height)*1.6);
    height:var(--ratio-height);
}
.ratio_main_3_2{
    width:calc(var(--ratio-height)*1.5);
    height:var(--ratio-height);
}
.ratio_main_4_3{
    width:calc(var(--ratio-height)*1.33333);
    height:var(--ratio-height);
}
.ratio_main_5_4{
    width:calc(var(--ratio-height)*1.25);
    height:var(--ratio-height);
}


.ratio_circle_wrapper{
    position:relative;
    width: 1400px;
    margin: 0 auto;
    margin-bottom: 800px;
}
.ratio_circle{
    position: absolute;
    width:260px;
    height:260px;
    border:1px solid #fefefe66;
    border-radius: 50%;
}
.ratio_circle_inner{
    position: relative;
    width:inherit;
    height:inherit;
}
.ratio_circle_inner_text{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    font-size: 76px;
    font-weight: 600;
    letter-spacing: -0.015em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
    color: #fefefebb;
}




/*new shit*/



    /*secondary nav*/
.secondary_nav{
    position: -webkit-sticky;
    position: sticky;
    top: 81px;
    z-index: 22;
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 60px;
    margin-left: 15px;
    /*background-color: var(--main-color-light);*/
    border-radius: 6px;
}
.secondary_nav_inner{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 4px 2px;
    flex-direction: column;
    /*border-radius: 23px;*/
    border-radius: 1px;
    -webkit-transition:  0.3s cubic-bezier(.165, .84, .44, 1);
    transition: 0.3s cubic-bezier(.165, .84, .44, 1);
}
.secondary_nav_inner_item1,.secondary_nav_inner_item2,.secondary_nav_inner_item3,.secondary_nav_inner_item4{
    position: relative;
    z-index: 2;
    display: inline-block;
    margin: 2px;
    padding: .1em 1.2em .7em;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-radius: 35px;
    -webkit-transition:  0.3s cubic-bezier(.165, .84, .44, 1);
    transition: 0.3s cubic-bezier(.165, .84, .44, 1);
    color: #ffffff;
    color: #a8a8a8;
    font-size: .95rem;
    line-height: 1;
    font-weight: 500;
    letter-spacing: .05px;
    text-decoration: none;
    /*text-transform: uppercase;*/
    cursor: pointer;
}
/*.secondary_nav_inner_item1::before,.secondary_nav_inner_item2::before,.secondary_nav_inner_item3::before,.secondary_nav_inner_item4::before{
    content:"";
    left: 2%;
    top:50%;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fefefe;
}
.secondary_nav_inner_item1::after,.secondary_nav_inner_item2::after,.secondary_nav_inner_item3::after{
    content:"";
    left: 3.2%;
    top:50%;
    position: absolute;
    width: 1px;
    height: calc(100% + 4px);
    background-color: #fefefe;
}*/
.secondary_nav_inner_item1:hover, .active_item1{
    /*border-radius: 20px;*/
    border-radius: 2px;
    /*background: #fefefe;*/
    /*transform: translateX(12px) translateY(-3px);*/
    /*

    background: linear-gradient(90deg, rgba(86,135,200,1) 0%, rgba(116,157,210,1) 65%, rgba(147,179,220,1) 100%);
    */
    color: var(--main-color);
    color:#ffffff;
    transition: 0.3s cubic-bezier(.165, .84, .44, 1);
}
.active_item1::before, .active_item2::before, .active_item3::before, .active_item4::before{
    content: '';
    height:1px;
    width:22px;
    left: 0;
    top:30%;
    background-color: #fefefe;
    transform: translate(-50%, 0);
    position: absolute;

}
.active_item1::after, .active_item2::after, .active_item3::after, .active_item4::after{
    content: '';
    height:8px;
    width:1px;
    left: 6%;
    top:30%;
    background-color: #fefefe;
    transform: translate(0, 0);
    position: absolute;

}
.active_item1, .active_item2, .active_item3, .active_item4{

    
}
.secondary_nav_inner_item2:hover, .active_item2{
    /*border-radius: 23px;*/
    border-radius: 2px;
    /*background: #fefefe;*/
    /*transform: translateX(12px) translateY(-3px);*/
    /*

    background: linear-gradient(90deg, rgba(86,135,200,1) 0%, rgba(116,157,210,1) 65%, rgba(147,179,220,1) 100%);
    */
    color: var(--main-color);
    color:#ffffff;
    -webkit-transition:  0.3s cubic-bezier(.165, .84, .44, 1);
    transition: 0.3s cubic-bezier(.165, .84, .44, 1);
}
.secondary_nav_inner_item3:hover, .active_item3{
    /*border-radius: 23px;*/
    border-radius: 2px;
    /*background: #fefefe;*/
    /*transform: translateX(12px) translateY(-3px);*/
    /*

    background: linear-gradient(90deg, rgba(86,135,200,1) 0%, rgba(116,157,210,1) 65%, rgba(147,179,220,1) 100%);
    */
    color: var(--main-color);
    color:#ffffff;
    transition: 0.3s cubic-bezier(.165, .84, .44, 1);
}
.secondary_nav_inner_item4:hover, .active_item4{
    /*border-radius: 23px;*/
    border-radius: 2px;
    /*background: #fefefe;*/
    /*transform: translateX(12px) translateY(-3px);*/
    /*

    background: linear-gradient(90deg, rgba(86,135,200,1) 0%, rgba(116,157,210,1) 65%, rgba(147,179,220,1) 100%);
    */
    color: var(--main-color);
    color:#ffffff;
    -webkit-transition:  0.3s cubic-bezier(.165, .84, .44, 1);
    transition: 0.3s cubic-bezier(.165, .84, .44, 1);
}



    /*product quick buy on land*/

.product_purchase_info{
    margin:0px auto;
    margin-top: 150px;
    bottom: var(--gutter);
    right: var(--gutter);
    width: 33vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.purchase_info_title{
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-bottom: 44px;
    border-bottom: 1px solid #fff;
}
.title_1{

    font-size: max(50px,3.47vw);
    line-height: 1.16;
    font-weight: 400;
    letter-spacing: -.02em;
    margin-block-start: .67em;
    margin-block-end: .67em;
    margin:0;
    padding:0;
}
.price_1{
    font-size: max(18px,1.25vw);
    line-height: 1;
    letter-spacing: -.02em;
    font-weight: 400;
    display: flex;
    font-weight: 700;
    margin-block-start: 1em;
    margin-block-end: 1em;

}
.product_versions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 0;
    border-bottom: 1px solid #fff;
}
.product_versions_label{
    font-size: max(12px,.83vw);
    line-height: 1;
    letter-spacing: .05em;
    text-transform: uppercase;
    margin-right: 20px;
}
.product_versions_list{
    display: flex;
}
.product_version{
    position: relative;
    height: 30px;
    margin-left: 30px;
}
.purchase_options{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.product_label_wrapper{
    color: #fefefe;
    text-decoration: underline;
    text-decoration-color: #efa91e;
    cursor: pointer;

}
.product_label_wrapper_off{
    color:#919191;
    cursor: pointer;
    white-space: nowrap;


}
.rent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 0;
    height: 50px;
    border-bottom: 1px solid #fff;
}
.select{
    position: relative;
    display: flex;
    align-items: center;
    opacity: 1;
    flex-grow: 1;
    justify-content: flex-end;
}
.arrow{
    width: 11px;
    height: 11px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    stroke: #fff;
    pointer-events: none;
    display: inline-block;
}
.product_checkout_wrapper{
    display: flex;
    height:80px;
    justify-content: space-between;
}
.buy_button{
    padding-inline: 4px;
    white-space: unset;
    text-indent: 0;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    margin-top: 0px;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    overflow: visible;
    cursor: pointer;
    text-transform: none;
    border: none;
    --color-back: #000;
    --color-front: #fff;
    grid-column-start: 2;
    margin-top: 15px;
    border-radius: 5px;
    outline-offset: 4px;
    padding: 20px 30px;
    text-align: center;
    color: var(--color-front);
    background-color: var(--color-back);
    transition: color .6s cubic-bezier(.37,.31,0,1),background-color .6s cubic-bezier(.37,.31,0,1);
}
.version_dropdown{
    display: flex;
    flex-direction: row;
    justify-items: center;
    vertical-align: center;
    position: relative;
    background: #fefefe;
    height: max-content;
    width: 200px;
    padding-left: 6px;
    cursor: pointer;
    z-index: 2;
}
.version_dropdown h2{
    color: #191919;
    margin: 0;
}
.version_dropdown_select{
    display: none;
}
.version_dropdown_svg{
    position: absolute;
    top:50%;
    right:0%;
    transform: translate(0%, -50%);
    fill: #191919;
}


.rent_dropdown{
    display: flex;
    flex-direction: row;
    justify-items: center;
    vertical-align: center;
    position: absolute;
    background: #fefefe;
    height: max-content;
    width: 200px;
    padding-left: 6px;
    cursor: pointer;
    z-index: 2;
}
.rent_dropdown_item{
    position: relative;
    background: #fefefe;
    height: max-content;
    width: 200px;
    padding-left: 6px;
    margin-top: 1%;
    cursor: pointer;
    z-index: 2;
}
.rent_dropdown p, .rent_dropdown_item p{
    color: #191919;
    margin: 0;
    font-size: 19px;
}
.rent_dropdown_select{
    display: none;
}
.rent_dropdown_svg{
    position: absolute;
    top:50%;
    right:0%;
    transform: translate(0%, -50%);
    fill: #191919;
}

.installment_dropdown{
    display: flex;
    flex-direction: row;
    justify-items: center;
    vertical-align: center;
    position: absolute;
    background: #fefefe;
    height: max-content;
    width: 298px;
    padding-left: 6px;
    cursor: pointer;
    z-index: 2;
}
.installment_dropdown_item{
    position: relative;
    background: #fefefe;
    height: max-content;
    width: 298px;
    padding-left: 6px;
    margin-top: 1%;
    cursor: pointer;
    z-index: 2;
}
.installment_dropdown p, .installment_dropdown_item p{
    color: #191919;
    margin: 0;
    font-size: 19px;
}
.installment_dropdown_select{
    display: none;
}
.installment_dropdown_svg{
    position: absolute;
    top:50%;
    right:0%;
    transform: translate(0%, -50%);
    fill: #191919;
}



/*video button*/
.video_parent{
    overflow:hidden;
    position:relative;
    margin:0 auto;
    background: #fefefe;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid #fefefe66;
}

.video_parent[data-isOpen="true"] {
    width: 985px;
    height: 554px;
    /*border-radius: 25px;*/
}

.video_play{
    position: relative;
    width: 40px;
    height: 40px;
    background: #f107a300;
    border-radius: 50%;
    z-index: 2;
    cursor:pointer;
}
.video_play svg{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) scale(1.5);
}
.video_actual{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

}

/*cards section*/
.card_wrapper {
    width: 100%;
    display: grid;
    grid-column-gap: 25px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 25px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.card_wrapper_flex {
    width: 100%;
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 25px;
    justify-content: space-between;
}
.card_flex{
    position:relative;
    border-radius: 16px;
    background-color:#072136;
    overflow: hidden;
    height: 630px;


}

.card{
    position:relative;
    border-radius: 25px;
    background-color:#072136;
    overflow: hidden;
    height: 580px;

}
.card_inner_overlay{
    position: absolute;
    background-color:#fefefe;
    display:flex;
    min-height: 580px;
    border-radius: 16px;
    overflow: hidden;
    flex-direction: column;
    padding:0px 40px;
    z-index: 2;
}

.card_inner{
    position: relative;
    background: rgb(5,11,20);
    background: linear-gradient(30deg, rgba(5,11,20,1) 0%, rgba(9,53,98,1) 40%, rgba(12,97,179,1) 100%);
    display:flex;
    min-height: 630px;
    border-radius: 16px;
    overflow: hidden;
    flex-direction: column;
    padding:0px 40px;
    /*padding-bottom: 68px;*/
}
.card_inner_extended{
    position: absolute;
    background: rgb(5,11,20);
    background: linear-gradient(30deg, rgba(5,11,20,1) 0%, rgba(9,53,98,1) 40%, rgba(12,97,179,1) 100%);
    display:flex;
    min-height: 630px;
    border-radius: 16px;
    overflow: hidden;
    flex-direction: column;
    padding:0px 40px;
    top:0;
    left:0;
    width:100%;
    /*padding-bottom: 68px;*/
}
.streaming_services_icons{
    margin-top: 30px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap:12px;
    grid-row-gap:12px;
}
.digital_cinema_aspect_ratios{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
}
.digital_cinema_resolution, .digital_cinema_ratio{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top:12px;

}
.digital_cinema_resolution p, .digital_cinema_ratio p{
    text-align: center;
    margin:0 auto;
    margin-bottom: 9px;
}
.digital_cinema_resolution ul, .digital_cinema_ratio ul{
    margin:0 auto;
    padding: 0;
}
.digital_cinema_resolution ul li, .digital_cinema_ratio ul li{
    color:#ffffff;

    text-align: center;
    white-space: nowrap;

}

.closed_captions{
    background-image: url("/images/software/eztitles/cc_pad.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.teletext{
    background-image: url("/images/software/eztitles/teletext_pad.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card_inner_title{

}
.card_inner_title h4{
    font-size: 23px;
    color:#ffffff;
    text-align: center;
    letter-spacing: 0.011em;

}
.card_inner_title_extended{
    margin: 0 auto;
    margin-top:60px;
    margin-bottom:20px;
    text-align: center;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.card_inner_title_extended_text h4{
    font-size: 26px;
    color:#ffffff;
    letter-spacing: 0.011em;
    height:65px;
    margin: 0;
    line-height: 65px;
    font-weight: 100;
}

.card_inner_title_extended_icon{
    padding-right: 20px;

}

.card_inner_description{

}
.card_inner_extended_description{
    width:100%;
    display: flex;
    flex-direction: column;
}
.card_inner_extended_description_text{

}
.card_inner_extended_description_list ul li{
    margin-top: 12px;

}
.card_inner_extended_description_list ul li::before{
    content: "\2022";
    color: #4DC4EF;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.card_inner_description_text{
    font-size: 19px;
    line-height: 1.4211026316;
    font-weight: 600;
    letter-spacing: .012em;
}
.card_inner_extended_description_title h4{
margin:0;
}
.card_inner_extended_digital_cinema_list{
    margin-bottom: 11px;
}
.card_inner_extended_digital_cinema_list ul li{
    line-height: 1.2;
}
.card_inner_overlay_description_text{
    color:#000000;
    font-size: 19px;
    line-height: 1.4211026316;
    font-weight: 600;
    letter-spacing: .012em;
}
.card_inner_overlay_description_ul li{
    font-size: 15px;
    margin-top: 5px;

}
.card_inner_overlay_images{
    margin-top: 18px;
    display:grid;
    grid-column-gap: 8px;
    grid-row-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
}

.card_inner_more_icon{
    position: absolute;
    right:5px;
    bottom:0px;
    cursor: pointer;
    fill:#ffffff;
    transform-origin: center center;
    transform: rotate(90deg);
}
.card_inner_extended_more_icon svg{
    position: absolute;
    right:5px;
    top:0px;
    cursor: pointer;
    fill:#D92B3A;
    transform-origin: center center;
    transform: rotate(45deg);
}





@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}







